:root {
    --primary-color: #5060ED;
    --secondary-color: #DDC290;
    --linear-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.body-container {
    width: 72vw;
    height: 88vh;
    margin-top: 3rem;
    margin-left: 11em;
    background: linear-gradient(180deg, 
    var(--primary-color),
    var(--linear-color));
    z-index: 1;
}

.box-shadow {
    width: 56dvw;
    height: 64lvh;
    background: linear-gradient( to top, var(--secondary-color),
    rgba(250,250,250,0.1), rgba(250,250,250,0.2));
    opacity: 0.6;
    position: relative; 
    top: 108px;
    left: 160px;
    z-index: 2;
    box-shadow: 0 0 24px 2px rgba(0 ,0 ,0, 0.4);
}

.picture, #page{
    position: relative;
    display: inline-block;
    top: -520px;
    left: 376px;
    z-index: 3;
}

img {
    border-radius: 5px 0 0 5px;
}

#page {
    width: 360px;
    height: 540px;
    position: relative;
    top: -568px;
    margin-left: -4px;
    border-radius: 0 5px  5px 0;
    background-color: #fff;
}

h4 {
    display: inline;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 29.38px;
    margin-left: 10px;
    position: relative;
    top: 12px;
    z-index: 4;
}

h1 {
    display: inline;
    width: 386px;
    height: 216px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 50.76px;
    position: relative;
    top: 16px;
    left: 8px
}

p {
    display: inline-block;
    width: 324px;
    height: 128px;
    font-family:'Poppins', sans-serif;
    font-weight: 300;
    font-size:17px;
    position: relative;
    top: 18px;
    left: 8px;
}

h2 {
    display: inline-block;
    width: 151px;
    height: 56px;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 42.3px;
    position: relative;
    left: 42px;
}

h6 {
    display: inline-block;
    width: 151px;
    height: 56px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 20.4px; 
    position: relative;
    left: 64px;   
}

button {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 5px;
    background-color: var(--primary-color);
    cursor: pointer;
    margin-left: 72px;
}

button:hover {
    background: linear-gradient(180deg, var(--primary-color) 20%, var(--secondary-color));
    opacity: 1;
    transition-duration: 6ms
}

span {
    margin-left: 18px;
    text-align:  center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    position: relative;
    top: -2px
}

i {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 2px;
    position: relative;
    top: 2px;
}

#anchor {
    display: block;
    position: relative;
    top: 32rem;
    left: 2em;
}

.mobile {
    display:  none;
}

@supports (display: flex) {
    @media all and (max-width: 560px) {

        body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        }

        .mobile {
            display: block;
        }

        .box-shadow {
        width: 390px;
        height: 844px;
        background: linear-gradient(180deg, var(--secondary-color), var(--linear-color));
        }

        img {
            position: absolute;
            top: 24px;
        }
    }
}